{% load static %} {% static "images" as baseUrl %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Details</title>
  </head>
  <body>
    {% endblock %}
  </body>
</html>
{% load static %} {% static "images" as baseUrl %}
<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" , initial-scale="1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
  />

  <body>
    <div class="w3-top">
      <div class="w3-bar" id="myNavbar">
        <a
          class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
          href="javascript:void(0);"
          onclick="toggleFunction()"
          title="Toggle Navigation Menu"
        >
          <i class="fa fa-bars"></i>
        </a>
        <a href="" class="w3-bar-item w3-button">HOME</a>
        <a href="about" class="w3-bar-item w3-button w3-hide-small"
          ><i class="fa fa-user"></i> ABOUT</a
        >
        <a href="contact" class="w3-bar-item w3-button w3-hide-small"
          ><i class="fa fa-envelope"></i> CONTACT</a
        >
        <a href="Login" class="w3-bar-item w3-button w3-hide-small"
          ><i class="fa fa-user-o"></i> LOGIN</a
        >
        <a
          href="search"
          class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red"
        >
          <i class="fa fa-search"></i>
        </a>
      </div>
    </div>
    <div class="sidenav">
      <section>
        <img
          class="myslides"
          src="{% static 'images/a.jpg' %}"
          style="width: 100%"
        />
      </section>
    </div>
    <section class="w3-container w3-center">
      <h1>{{ object.title }}</h1>
      <p>
        {% if object.desc != None and object.desc != '' %}{{ object.desc }}
        {%else %}Description Coming Soon{% endif %}
      </p>

      <img src="{{ object.image.url }}" alt="Laptop" /><br />

      ${{ object.price }}

      <p>{{ object.featured }}</p>
    </section>
    <footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
      <a href="#"><i class="fa fa-facebook-official"></i></a>
      <a href="#"><i class="fa fa-pinterest-p"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-flickr"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </footer>
    <script>
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
      window.onscroll = function() {
        myFunction();
      };
      function myFunction() {
        var navbar = document.getElementById("myNavbar");
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          navbar.className =
            "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
        } else {
          navbar.className = navbar.className.replace(
            " w3-card w3-animate-top w3-white",
            ""
          );
        }
      }
    </script>
  </body>
</html>
